html, body {
    overflow: hidden;
    font-family: sans-serif;
    color: #333;
}

body {
    height: 100vh;
    background-color: #fafafa;
}

#header {
    text-align: center;
    padding: 0.5em;
    color: #555;
}

/* CONTENT */
.content {
    height: 88%;
}

.status {
    text-align: center;
    color: tomato;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2em;
    padding: 10px;
}

#status {
    color: coral;
    font-style: italic;
}

.record_button {
    width: 95vw;
    padding: 10px;
    margin-top: 5em;
    text-align: center;
}

#start, #stop {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: none;
    font-size: 1.2em;
    color: #444;
    font-weight: bold;
}

#start:hover, #stop:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#start {
    background-color:springgreen;
}

#stop {
    background-color: tomato;
    display:none;
}

#audio_result {
    margin: 0 auto;
    height: 500px;
    width: 500px;
    /* display: none; */
}

#audio_sample {
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* Position bottom */
    position: absolute;
    padding: 10px;
    bottom: 0;
    background-color: #555;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 95%;
}

#audio_sample > audio {
    display: none;
}

#audio_sample > a {
    margin-top: 10px;
    margin-left: 10px;
    display: none;
    color: #fff;
}